<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script>
		function NameCtrl ($scope){
			$scope.firstName = 'joydeep';
			$scope.lastName = 'roy';
		}
	</script>
</head>
<body ng-controller="NameCtrl">
	First Name: <input ng-model="firstName" type="text"><br>
	Last Name: <input ng-model="lastName" type="text"><br>
	{{ firstName }} {{ lastName }}
</body>
</html>
