<!DOCTYPE html>
<html lang="en" ng-app="nameApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script>
		var nameApp = angular.module('nameApp', []);
		nameApp.controller('NameCtrl', function ($scope) {
			$scope.firstName = 'joydeep';
			$scope.lastName = 'chandra';

			$scope.$watch('lastName', function (newValue, oldValue) {
				console.log('new value is ' + newValue);
			});

			setTimeout(function () {
				$scope.lastName = 'roy';
				$scope.$apply();
			}, 1000);
		});
	</script>
</head>
<body ng-controller="NameCtrl">
	First Name: <input ng-model="firstName" type="text"><br>
	Last Name: <input ng-model="lastName" type="text"><br>
	{{ firstName }} {{ lastName }}
</body>
</html>
