<!DOCTYPE html>
<html lang="en" ng-app="countryApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script>
		var countryApp = angular.module('countryApp', []);

		countryApp.controller('countryCtrl', [ '$scope', '$http', function(scope, http){
	
			var countryUrl = 'https://raw.githubusercontent.com/joydeeproy87/AngularJS_50/master/29.countries.json';
			
			http
				.get(countryUrl)
				.success(function (data) {
					scope.countries = data;
				});

		}]);
	</script>
</head>
<body ng-controller="countryCtrl">
	Search: <input ng-model="searchCountry" type="search"><br><br>
	<table cellpadding="5">
		<tr>
			<th>Country</th>
			<th>Population</th>
			<th>Flag</th>
			<th>Capital</th>
		</tr>
		<tr ng-repeat="country in countries">
			<td>{{ country.name }}</td>
			<td>{{ country.population | number }}</td>
			<td><img ng-src="{{ country.flagURL }}" alt="{{ country.name }}" width="50"></td>
			<td>{{ country.capital }}</td>
		</tr>
	</table>
</body>
</html>
